<a href="https://colab.research.google.com/github/Ananassio/Data-Science_lab/blob/main/week_3/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EX3: Some Statistics with Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
#get data from GitHub -> https://github.com/keuperj/DATA
!git clone https://github.com/keuperj/DATA.git

Cloning into 'DATA'...
remote: Enumerating objects: 87, done.
remote: Total 87 (delta 0), reused 0 (delta 0), pack-reused 87
Unpacking objects: 100% (87/87), done.
Checking out files: 100% (61/61), done.

In [2]:
import pandas as pd
import numpy as np

### Step 2. 
User ***Jupyter Lab*** to view ``../../DATA/US_Baby_Names_right.csv'``.

### Step 3. Assign it to a variable called baby_names.

In [22]:
baby_names = pd.read_csv('DATA/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [17]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [23]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], 1)
baby_names.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Are there more male or female names in the dataset?

In [24]:
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [25]:
grouped = baby_names.groupby('Name')
grouped.head()

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1004923  Gryffin  2014      M    WI      5
1004950     Kroy  2014      M    WI      5
1004973     Owyn  2014      M    WI      5
1005707   Haylea  2005      F    WV      5
1012216  Coalton  2012      M    WV      7

[65502 rows x 5 columns]

### Step 8. How many different names exist in the dataset?

In [8]:
baby_names['Name'].value_counts().count()

17632

### Step 9. What is the name with most occurrences?

In [9]:
baby_names['Name'].value_counts().keys()[0]

'Riley'

### Step 10. How many different names have the least occurrences?

In [56]:
least_name = baby_names.groupby('Name').Count.sum().sort_values()[0]
(baby_names.groupby('Name').Count.sum() == least_name).sum()

2578

### Step 11. What is the median name occurrence?

In [63]:
grouped['Count'].sum().median()

49.0

### Step 12. What is the standard deviation of names?

In [66]:
grouped['Count'].sum().std()

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [67]:
baby_names.describe()

               Year         Count
count  1.016395e+06  1.016395e+06
mean   2.009053e+03  3.485012e+01
std    3.138293e+00  9.739735e+01
min    2.004000e+03  5.000000e+00
25%    2.006000e+03  7.000000e+00
50%    2.009000e+03  1.100000e+01
75%    2.012000e+03  2.600000e+01
max    2.014000e+03  4.167000e+03