<a href="https://colab.research.google.com/github/Ananassio/Data-Science_lab/blob/main/week_3/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EX3: Some Statistics with Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
#get data from GitHub -> https://github.com/keuperj/DATA
!git clone https://github.com/keuperj/DATA.git

Cloning into 'DATA'...
remote: Enumerating objects: 87, done.
remote: Total 87 (delta 0), reused 0 (delta 0), pack-reused 87
Unpacking objects: 100% (87/87), done.
Checking out files: 100% (61/61), done.

In [2]:
import pandas as pd
import numpy as np

### Step 2. 
User ***Jupyter Lab*** to view ``../../DATA/US_Baby_Names_right.csv'``.

### Step 3. Assign it to a variable called baby_names.

In [3]:
baby_names = pd.read_csv('DATA/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [40]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

### Step 6. Are there more male or female names in the dataset?

In [41]:
baby_names['Gender'].value_counts()#.argsort()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [42]:
grouped = baby_names.groupby(baby_names['Name'])
grouped.head()

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1004923  Gryffin  2014      M    WI      5
1004950     Kroy  2014      M    WI      5
1004973     Owyn  2014      M    WI      5
1005707   Haylea  2005      F    WV      5
1012216  Coalton  2012      M    WV      7

[65502 rows x 5 columns]

### Step 8. How many different names exist in the dataset?

In [67]:
baby_names['Name'].value_counts().count()

17632

### Step 9. What is the name with most occurrences?

In [64]:
baby_names['Name'].value_counts().keys()[0]

'Riley'

### Step 10. How many different names have the least occurrences?

In [72]:
baby_names['Name'].value_counts()

Riley      1112
Avery      1080
Jordan     1073
Peyton     1064
Hayden     1049
           ...
Terryn        1
Yanna         1
Zemirah       1
Emmilyn       1
Coalton       1
Name: Name, Length: 17632, dtype: int64

### Step 11. What is the median name occurrence?

In [73]:
baby_names['Name'].median()

TypeError: ignored

### Step 12. What is the standard deviation of names?

### Step 13. Get a summary with the mean, min, max, std and quartiles.