<a href="https://colab.research.google.com/github/Ananassio/Data-Science_lab/blob/main/Project/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A first look at the data

In [1]:
#get data from server
!wget --no-check-certificate https://www.keuper-labs.org/project_ss22.zip

--2022-05-05 13:32:51--  https://www.keuper-labs.org/project_ss22.zip
Resolving www.keuper-labs.org (www.keuper-labs.org)... 91.250.118.129
Connecting to www.keuper-labs.org (www.keuper-labs.org)|91.250.118.129|:443... connected.
WARNING: cannot verify www.keuper-labs.org's certificate, issued by ‘CN=Starfield Secure Certificate Authority - G2,OU=http://certs.starfieldtech.com/repository/,O=Starfield Technologies\\, Inc.,L=Scottsdale,ST=Arizona,C=US’:
  Unable to locally verify the issuer's authority.
HTTP request sent, awaiting response... 200 OK
Length: 70859177 (68M) [application/zip]
Saving to: ‘project_ss22.zip’

project_ss22.zip    100%[===================>]  67.58M  8.18MB/s    in 13s

2022-05-05 13:33:06 (5.01 MB/s) - ‘project_ss22.zip’ saved [70859177/70859177]

In [2]:
#unpack
!unzip project_ss22.zip

Archive:  project_ss22.zip
   creating: dressipi_recsys2022/
  inflating: dressipi_recsys2022/candidate_items.csv
  inflating: dressipi_recsys2022/item_features.csv
  inflating: dressipi_recsys2022/test_leaderboard_sessions.csv
  inflating: dressipi_recsys2022/test_final_sessions.csv
  inflating: dressipi_recsys2022/README.txt
  inflating: dressipi_recsys2022/train_purchases.csv
  inflating: dressipi_recsys2022/train_sessions.csv
  inflating: dressipi_recsys2022/README_win.txt

In [3]:
import pandas as pd

In [4]:
items = pd.read_csv('dressipi_recsys2022/candidate_items.csv')
features = pd.read_csv('dressipi_recsys2022/item_features.csv')
train_purchases = pd.read_csv('dressipi_recsys2022/train_purchases.csv')
train_sessions = pd.read_csv('dressipi_recsys2022/train_sessions.csv')
test_leaderboard_sessions = pd.read_csv('dressipi_recsys2022/test_leaderboard_sessions.csv')

## have a first look

In [31]:
items['item_id'].nunique()

4990

In [18]:
items.head()

   item_id
0        4
1        8
2        9
3       19
4       20

In [38]:
features

        item_id  feature_category_id  feature_value_id
0             2                   56               365
1             2                   62               801
2             2                   68               351
3             2                   33               802
4             2                   72                75
...         ...                  ...               ...
471746    28143                   68               351
471747    28143                   55               390
471748    28143                   11               109
471749    28143                   73                91
471750    28143                   47               549

[471751 rows x 3 columns]

In [37]:
features['item_id'].unique()[0]

2

In [20]:
features['feature_category_id'].max()

73

In [33]:
features['feature_category_id'] == 56

0          True
1         False
2         False
3         False
4         False
          ...
471746    False
471747    False
471748    False
471749    False
471750    False
Name: feature_category_id, Length: 471751, dtype: bool

In [55]:
features.unstack['item_id']

TypeError: ignored

In [ ]:
for i in range(471751):
  
  feature_vector[j,0] = features['item_id'].unique()[j]

  for   j in range(73+1):
    if 
    feature_vector[j,i] =

In [7]:
train_purchases.head()

   session_id  item_id                     date
0           3    15085  2020-12-18 21:26:47.986
1          13    18626  2020-03-13 19:36:15.507
2          18    24911  2020-08-26 19:20:32.049
3          19    12534   2020-11-02 17:16:45.92
4          24    13226  2020-02-26 18:27:44.114

In [8]:
train_sessions.head()

   session_id  item_id                     date
0           3     9655  2020-12-18 21:25:00.373
1           3     9655  2020-12-18 21:19:48.093
2          13    15654  2020-03-13 19:35:27.136
3          18    18316  2020-08-26 19:18:30.833
4          18     2507  2020-08-26 19:16:31.211

In [48]:
test_leaderboard_sessions

        session_id  item_id                     date
0               26    19185  2021-06-16 09:53:54.158
1              200    17089  2021-06-25 12:23:40.811
2              200    17089  2021-06-25 12:24:36.631
3              200     8060  2021-06-25 12:24:41.677
4              200     4758  2021-06-25 12:24:50.692
...            ...      ...                      ...
229349     4439653    25955   2021-06-11 10:22:57.47
229350     4439653    12179  2021-06-11 10:23:00.663
229351     4439757     2078  2021-06-30 11:42:15.073
229352     4439757     2078  2021-06-30 11:43:13.725
229353     4439757     6790  2021-06-30 11:44:52.704

[229354 rows x 3 columns]